/*  your css code here. If applicable */
.player_one{
	  background-color:white;
	  border:1px solid black;
	  padding-right:0px;
	  padding-top:10px;
	  padding-bottom:10px;
	  border-raduis:10px;
}
a{
	color:black;
	text-decoration:none;
}
body{
	background-color:#cccccc;
	
}